.block {
  @apply flex flex-col;
  @apply w-full;
}

.block {
  z-index: 20;
  background-color: var(--palette-background-color);
  color: var(--palette-text-color);
}

.block-background-image {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* TODO: pos & size from vars */
}

.block-with-background-image {
  position: relative;
}
.block-with-background-image .content-area {
  --palette-background-color: transparent;
}

.content-area {
  position: relative;
  z-index: 20;
  color: var(--palette-text-color, #000);
  background-color: var(--palette-background-color, transparent);
}

.main-level-padding-full,
.block-content.block-padding-full {
  @apply p-6 lg:p-14;
}

.main-level-padding-small,
.block-content.block-padding-small {
  @apply p-6 lg:p-7;
}

/* sets half padding to content area of the main block and half to the box content area
  So box background is outside of the content area, but box content is aligned with normal content area
  padding should be half of the full padding
*/
.block-main.with-split-padding .block-content.block-content .content-area,
.forced-split-padding.forced-split-padding {
  @apply p-3 lg:p-7;
  .block-box.content-area {
    @apply p-3 lg:p-7;
  }
}

.block-main.with-split-padding .content-area .block-content {
  padding: 0;
}
.main-level-padding-inline,
.block-padding-inline.block-padding-inline {
  @apply px-6 lg:px-14;
}

.main-level-padding-block,
.block-padding-block.block-padding-block {
  @apply py-6 lg:py-14;
}

.block-padding-none.block-padding-none {
  padding: 0;
}

/* Main block */
.block-main {
  --padding: 0;
  --padding-md: 0;
  --padding-lg: 0;
}

.block-main .block-content {
  @apply max-w-screen-2xl mx-auto;
}

/* Content block */

.block-content .content {
  padding: 0;
}

.rounded-box,
.rounded-box .content-area {
  @apply rounded-xl;
}
