.columns {
  @apply gap-4 lg:gap-8;
  /* column has no effect unless you set the --column-count in the style attribute */
  --column-count: auto;
  --column-count-md: auto;
  --column-count-lg: auto;
  --column-count-xl: auto;
  --column-template: 1fr;
  --row-template: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  @screen md {
    --column-count: var(--column-count-md);
  }
  @screen lg {
    --column-count: var(--column-count-lg);
  }
  @screen xl {
    --column-count: var(--column-count-xl);
  }
}

.columns[style*="--column-count-active"] {
  grid-template-columns: repeat(var(--column-count), 1fr);
}

.columns.small-gaps {
  @apply gap-2 lg:gap-4;
}

.columns-first-1_3 {
  --column-template: 33.3333% minmax(0, 1fr);
}
.columns-first-2_3 {
  --column-template: 66.6666% minmax(0, 1fr);
}

.columns-first-1_4 {
  --column-template: 25% minmax(0, 1fr);
}
.columns-first-3_4 {
  --column-template: 75% minmax(0, 1fr);
}

.columns-first-1_2 {
  --column-template: 50% minmax(0, 1fr);
}
