:root {
  --kupari: #c49a6c;
  --piki: #231f20;
  --sahko: #4441e8;
  --beige: #e8e4da;
  --maantie: #d9d9d9;
  --betoni: #6d6e71;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #f6f6f6;
}

.color-palette-default {
  --palette-background-color: var(--white);
  --palette-text-color: var(--black);
  --palette-heading-color: var(--black);
  --palette-icon-color: var(--black);
  --palette-button-color: var(--black);
  --palette-button-text-color: var(--white);
}

.color-palette-light-gray {
  --palette-background-color: var(--light-gray);
  --palette-text-color: var(--black);
  --palette-heading-color: var(--black);
  --palette-icon-color: var(--black);
  --palette-button-color: var(--black);
  --palette-button-text-color: var(--white);
}

.color-palette-kupari {
  --palette-background-color: var(--kupari);
  --palette-text-color: var(--piki);
  --palette-heading-color: var(--piki);
  --palette-icon-color: var(--piki);
  --palette-button-color: var(--piki);
  --palette-button-text-color: var(--white);
}

.color-palette-piki {
  --palette-background-color: var(--piki);
  --palette-text-color: var(--white);
  --palette-heading-color: var(--white);
  --palette-icon-color: var(--white);
  --palette-button-color: var(--white);
  --palette-button-text-color: var(--piki);
}

.color-palette-black {
  --palette-background-color: var(--black);
  --palette-text-color: var(--white);
  --palette-icon-color: var(--kupari);
  --palette-button-color: var(--kupari);
  --palette-button-text-color: var(--white);
}

.color-palette-betoni {
  --palette-background-color: var(--betoni);
  --palette-heading-color: var(--white);
  --palette-text-color: var(--white);
  --palette-icon-color: var(--white);
  --palette-button-color: var(--kupari);
  --palette-button-text-color: var(--piki);
}

.color-palette-maantie {
  --palette-background-color: var(--maantie);
  --palette-text-color: var(--piki);
  --palette-heading-color: var(--piki);
  --palette-icon-color: var(--kupari);
  --palette-button-color: var(--kupari);
  --palette-button-text-color: var(--piki);
}
.color-palette-beige {
  --palette-background-color: var(--beige);
  --palette-text-color: var(--black);
  --palette-heading-color: var(--black);
  --palette-icon-color: var(--black);
  --palette-button-color: var(--black);
  --palette-button-text-color: var(--white);
}

.palette-background-color {
  background-color: var(--palette-background-color);
}

.color-kupari-heading {
  --palette-heading-color: var(--kupari);
}

.palette-button-color {
  background-color: var(--palette-button-color);
}

.palette-heading-color {
  color: var(--palette-heading-color);
}

.palette-text-color {
  color: var(--palette-text-color);
}

.palette-icon-color {
  color: var(--palette-icon-color);
}

.palette-border-color {
  border-color: var(--palette-icon-color);
}

.palette-button-text-color {
  color: var(--palette-button-text-color);
}

.apply-palette {
  @apply palette-background-color;
  @apply palette-text-color;
}
