.custom-table {
  @apply rounded-lg;
  thead tr {
    border-bottom: 2px solid var(--white);
  }
  tbody tr {
    border-bottom: 1px solid var(--light-gray);
  }
  th,
  .th {
    color: var(--piki);
    font-weight: 600;
    @apply p-4;
    @apply text-lg;
    &:first-child {
      background-color: var(--kupari);
    }
  }
  td {
    font-weight: 600;
  }
  th:nth-child(even),
  td:nth-child(even) {
    background-color: var(--maantie);
  }

  th:nth-child(odd),
  td:nth-child(odd) {
    background-color: rgba(96, 96, 96, 0.5);
  }
}
