.heading {
  @apply font-light font-['Inter_Tight'] leading-tight;
}
.heading.medium {
  @apply font-medium;
}

h1.heading:not(.small):not(.fixed) {
  font-size: 2.75rem;
  @screen md {
    font-size: 3.25rem;
  }
}

h1.heading.small {
  @apply text-5xl lg:text-6xl;
}

h1.heading.fixed:not(.small) {
  @apply text-6xl;
}

h1.heading.small.fixed {
  @apply text-5xl;
}

h2.heading:not(.small):not(.fixed) {
  @apply text-5xl lg:text-6xl;
}

h2.heading.fixed {
  @apply text-5xl;
}

h2.heading.small {
  @apply text-4xl lg:text-5xl;
}

h2.heading.small.fixed {
  @apply text-4xl;
}

h3.heading:not(.small):not(.fixed) {
  @apply text-4xl lg:text-5xl;
}
h3.heading.fixed {
  @apply text-4xl;
}

h3.heading.fixed:not(.small) {
  @apply text-4xl;
}

h3.heading.small {
  @apply text-3xl lg:text-4xl;
}

h3.heading.small.fixed {
  @apply text-3xl;
}

h4.heading {
  @apply text-3xl lg:text-4xl;
}

h5.heading {
  @apply text-2xl lg:text-3xl;
}

.text:not(.small):not(.large) {
  @apply text-lg;
}

.text.small {
  @apply text-sm;
}

.text.large {
  @apply text-lg lg:text-2xl;
}

.shadow-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  p,
  .with-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
}
.shadow-text-sharp {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  p,
  .with-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}
